/* Large desktops and laptops */

@media (min-width: 1200px) {}

/* Landscape tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1199px) {
    .nav-item a {

        font-size: 12px;
    }
    #kopper-img {
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        height: 60px;
        width: 220px;

    }
}

/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {

    #striker-img,
    #arthex-img,
    #ibitfix-img {
        display: none;
    }
    
    .hide-nav{
    display: block;
    }
}

/* Landscape phones and portrait tablets */

@media (min-width:481px) and (max-width: 767px) {

    #striker-img,
    #arthex-img,
    #ibitfix-img {
        display: none;
    }
    .hide-nav{
    display: block;
    }

    #kopper-img {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        height: 60px;
        width: 120px;
        padding-bottom: 0px;
    }
}

/* Portrait phones and smaller */

@media (max-width: 480px) {

    /*esconder striker & arthex logoss*/
    #striker-img,
    #arthex-img,
    #ibitfix-img {
        display: none;
    }
    .hide-nav{
    display: block;
    }
    #kopper-img {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        height: 40px;
        width: 140px;
        padding-bottom: 0px;
    }
    .custm-bot-img {
        padding-bottom: 20px;

    }

}





/*
                border-color: red;
                border-style: dashed;
        */
